.one {
  display: flex;
  flex-direction: column;
  background-color: #235EE5;
  justify-content: center;
  align-content: center;
  color: white;
  text-align: center;
  padding-top: 50px;
}

.two {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #ffffff;
  padding: 50px;
}

.points {
  width: 330px;
}

.three {
  display: flex;
  background-color: #F6F7F7;
  padding: 50px;
}

.three b {
  background-color: #E6F3FC; 
}

.three li {
  padding: 10px 0px 10px 0px;
}

.four {
  display: flex;
  padding: 60px;
}

.four li {
  padding: 10px 0px 10px 0px;
}

.four b {
  background-color: #E6F3FC; 
}

.five {
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; 
}

.five img {
  padding-right: 20px;
}

.six {
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; 
}

.seven {
  background-color: #F6F7F7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.person_name {
  text-align: left;
}

div, section {
  font-family: "Proxima Nova", Helvetica, Corbel, sans-serif; 
}

#one_title {
  padding: 15px;
}

#effective {
  font-size: 2em;
  width: 430px;
  /* width: 40%; */
  /* align-content: center; */
  align-self: center;
}

#joinMillions {
  width: 350px;
  align-self: center;
  padding: 15px;
  font-size: 1em;
}

.buttonContainer {
  align-self: center;
  height: 130px;
}

.howItWorks {
  display: flex;
  justify-content: space-around;
  padding-top: 35px;
}

.sectionTitle {
  font-size: 1.5em;
}

.sectionText {
  padding: 5%
}

.proofPair {
  display: flex;
  width: 40%;
  margin: 15px;
  text-align: left;
}

.proofSection {
  display: flex;
  flex-wrap: wrap;
}

button {
  background-color: #71B312;
  border: 0;
  color: white;
  width: 340px;
  height: 50px;
  align-self: center;
  font-size: 1em;
  margin: 30px;
  border-radius: 5px;
}

#what_makes {
  width: 40%
}

#laptop {
  width: 60%
}

@media screen and (max-width: 768px) {
  
  .one {
    align-items: baseline;
  }

  .five{
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .six {
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
  }

  #one_title {
    text-align: left; 
    font-size: 0.7em;
    padding: 4px;
    align-self: center; 
  }

  #effective {
    font-size: 1.3em;
    width: 240px;
    align-content: left;
    align-self: center;
    padding: 10px;
  }

  .howItWorks {
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    justify-content: center;
  }

  .points {
    width: 80%;
    align-self: center;
    padding: 15px;
  }

  .three {
    flex-direction: column;
  }

  .four {
    flex-direction: column-reverse;
    padding: 10px;
  }
  .proofPair {
    width: 100%;
  }

  .seven {
    flex-direction: column;
    text-align: center;
  }

  button {
    width: 200px;
  }

  #joinMillions {
    display: none;
  }

  #what_makes {
    width: 100%
  }
  
  #laptop {
    width: 70%;
    align-self: center;
  }
}