.one {
  display: flex;
  flex-direction: column;
  background-color: #235EE5;
  justify-content: center;
  align-content: center;
  color: white;
  text-align: center;
  padding-top: 50px;
}

.two {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #ffffff;
}

.three {
  display: flex;
  background-color: #F6F7F7;
}

div, section {
  font-family: "Proxima Nova", Helvetica, Corbel, sans-serif; //get proxima nova to work

}

.buttonContainer {
  margin: 50px;
}

button {
  background-color: #71B312;
  color: white;
  width: 340px;
  height: 50px;
  align-self: center;
  font-size: 1em;
}

.yo {
  display: flex;
}